.custom-navbar {
    background-color: #f8f9fa; /* Светло-серый цвет фона */
    color: #495057; /* Темно-серый цвет текста */
}

.custom-navbar .nav-link {
    color: #007bff; /* Синий цвет для ссылок */
}

.custom-navbar .nav-link:hover {
    text-decoration: underline;
}

.custom-navbar .custom-btn-link {
    color: #dc3545; /* Красный цвет для кнопки выхода */
}

.custom-navbar .custom-btn-link:hover {
    color: #bd2130; /* Более темный оттенок красного при наведении */
}