@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

$primary: #28a745; // Зеленый цвет Bootstrap
$theme-colors: map-merge($theme-colors, ("primary": $primary));

$box-shadow-lg: 0 0.3rem 0.6rem rgba(0, 0, 0, .15);
$box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);

// Import all of Bootstrap's CSS
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/react-datepicker/dist/react-datepicker.css";

.t-input-group-text, .c-input-group-text {
    border: 1px solid rgba(0, 0, 0, .125);
    background-color: rgba(0, 0, 0, .03);
}

.t-input-group-text {
    width: 130px; // немного уменьшенная ширина
}

.c-input-group-text {
    width: 110px; // немного уменьшенная ширина
}